* {
    cursor: none;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    font-size: 17px;
    color: #fff;
    margin: 0
}

.container {
    width: 100%;
    margin: 20px auto;
    box-sizing: border-box;
    overflow-x: hidden
}

.container div {
    margin-left: 5px;
    line-height: 1.65
}

.container p {
    margin-left: 25px;
    line-height: 1.65;
    font-size: 17px
}

.container a {
    margin-left: 25px;
    line-height: 1.65;
    font-size: 17px;
    color: rgb(10, 146, 236)
}

.container a:visited {
    color: rgb(9, 128, 207)
}

.container h1 {
    margin-left: 35px;
    line-height: 1.65;
    font-size: 35px
}

.container h2 {
    margin-left: 25px;
    line-height: 1.65;
    font-size: 30px
}

.container h3 {
    margin-left: 25px;
    line-height: 1.65;
    font-size: 25px
}

.container ul {
    margin-left: 25px
}

.container strong {
    font-size: 25px
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #333;
    text-align: left;
    z-index: 1000;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 10px
}

header div:hover {
    font-size: 36px;
}

.header {
    font-size: 28px;
    margin-bottom: 0;
    color: #fff;
    transition: color 0.3s
}

.header:hover {
    color: #bbb
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s
}

nav a:hover {
    color: #bbb
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 5px 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0;
    border-radius: 4px;
    padding: 10px 10px
}

.dropdown-content a:visited {
    color: #FFF
}

.dropdown-content a {
    color: #fff;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    padding: 10px 10px;
    font-size: 30px;
    margin-left: -2.5px
}

.dropdown-content a:hover {
    font-size: 38px;
    background-color: #555
}

.dropdown:hover .dropdown-content {
    display: block;
}

iframe {
    margin-top: 60px;
    width: 100%;
    height: calc(100vh - 60px);
    border: none
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.image-wrapper {
    flex: 0 0 auto;
    margin-right: 20px;
    text-align: left;
}

img {
    width: 300px;
    height: auto;
    margin-bottom: 15px;
    margin-left: 15px;
}

.image-wrapper p,
.image-wrapper a {
    display: block;
    text-align: left;
}

.happyTrail {
    position: absolute;
    width: 8px;
    height: 8px;
    background: #f00;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
    filter: blur(3px);
    animation-duration: 0.5s;
    animation-name: rainbowFade;
    animation-timing-function: ease;
    z-index: 9999
}
  
  @keyframes rainbowFade {
    0% {
      background: #f00;
    }
   
    20% {
      background: #f80;
    }
   
    40% {
      background: #ff0;
    }
    
    60% {
      background: #0f0;
    }
   
    80% {
      background: #00f;
          opacity: 0.8;
    }
   
    100% {
      background: #f0f;
      opacity: 0;
    }
}

.inner-cursor {
    position: fixed;
    left: 10px;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    background: solid white;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.5s, height 0.5s, background-color 0.5s;
    z-index: 9999
}

.outer-cursor {
    position: fixed;
    left: 10px;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: 0.1ms;
    transition: 0.2s;
    pointer-events: none;
    z-index: 9999
}

li {
    margin-left: 25px;
}

li a {
    margin-left: 0px !important;
}

#gotop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #727272;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    transition: opacity 0.2s, visibility 0.2s, height 0.2s
}

#gotop:hover {
    background-color: #888888;
}
